:root {
    --principal-pink: #FF8AC0;
    --bg-pink-light: #FFD9EA;
    --bg-brown: rgba(113, 57, 37, 0.5);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background: var(--bg-pink-light);
}

.header {
    padding: 12px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s;
}

.header .navBar {
    display: none;
}

.header.scrolled {
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
}

.logo {
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    color: var(--principal-pink);
}

.logo span {
    color: var(--bg-brown);
}

.logo h1, span {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

#searchForm {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.3s ease;
}

#searchForm.active {
    width: 250px;
    opacity: 1;
}

.header-icons {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header-icons #btn-search{
    color: var(--principal-pink);
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    background-color: inherit;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.header-icons #btn-carrinho {
    display: none;
}

#btn-search.hidden {
    opacity: 0;
    visibility: hidden;
}

.header-icons #search-input {
    width: 0;
    border: none;
    border-bottom: 1px solid var(--principal-pink);
    outline: none;
    padding: 5px;
}

.header-icons #search-input:focus {
    transition: all .5s linear;
    width: 200px;
}

#btn-menu{
    position: relative;
    z-index: 10000;
    color: var(--principal-pink);
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.menu-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    display: none;
    justify-content: flex-end;
    z-index: 9999;
}

.menu-modal.active {
    display: flex;
}

.menu-content {
    width: 280px;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    animation: slideIn .3s ease;
}

.item-modal {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    display: block;
    transition: .3s;
    padding: 12px;
    border-radius: 8px;
}

.item-modal:hover,
.item-modal.active {
    background-color: var(--principal-pink);
    color: white;
}

.item-modal {
    font-family: "Kaushan Script", cursive;
    padding: 10px;
}


.close-menu {
    align-self: flex-end;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.filters{
    padding:20px;
}

.filters h3{
    font-family:"Kaushan Script",cursive;
    margin-bottom:12px;
}

.checkbox{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    margin-left: 20px;
}

.checkbox input{
    display:none;
}

.checkmark{
    width:20px;
    height:20px;
    border:2px solid var(--principal-pink);
    border-radius:4px;
    background:#fff;
    position:relative;
}

.checkbox input:checked + .checkmark{
    background:var(--principal-pink);
}

.checkbox input:checked + .checkmark::after{
    content:"✓";
    color:#fff;
    position:absolute;
    left:4px;
    top:-1px;
    font-size:14px;
}


/* PRODUTOS */

.products{
    padding:10px;
}

.product-card{
    background:#fff;
    border-radius:10px;
    display:flex;
    gap:12px;
    padding:8px;
    margin-bottom:15px;
    box-shadow:0 2px 8px rgba(0,0,0,.25);
}

.product-card img{
    width: 130px;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content h2{
    font-size: 1.5rem;
    text-align: center;
}

.description {
    display: none;
}

.bottom span {
    font-family: inherit;
    font-weight: 500;
}

.actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buy{
    flex: 1;
    border: none;
    background: var(--principal-pink);
    color: #fff;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
}

.buy:hover{
    background :var(--principal-pink);
}

.fav{
    padding: 10px;
    border: none;
    background: #ffe8f2;
    border-radius: 6px;
    cursor: pointer;
}

.fav:hover{
    background: #ffd4e7;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


@media (min-width: 768px) {

    .header .navBar {
        display: flex;
        padding: 10px;
    }

    .header .navBar a {
        text-decoration: none;
        color: var(--principal-pink);
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    #carrinho {
        padding: 0;
    }

    #searchForm {
        width: 100px;
    }

    .header-icons {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    .header-icons #btn-carrinho {
        display: flex;
        color: var(--principal-pink);
        font-size: 24px;
        border: none;
        cursor: pointer;
        background-color: inherit;
    }

    #btn-carrinho a {
        color: var(--principal-pink);
    }

    #btn-menu{
        display: none;
    }

    .filters{
        margin-top: 30px;
        background-color: var(--bg-brown);
        padding: 20px;
        display: flex;
    }

    .filters h3{
        font-family:"Kaushan Script",cursive;
        margin-bottom:12px;
        margin-left: 20px;
    }

    .checkbox{
        display:flex;
        align-items:center;
        gap:10px;
        cursor:pointer;
        margin-left: 20px;
    }

    .checkbox input{
        display:none;
    }

    .checkmark{
        width:20px;
        height:20px;
        border:2px solid var(--principal-pink);
        border-radius:4px;
        background:#fff;
        position:relative;
    }

    .checkbox input:checked + .checkmark{
        background:var(--principal-pink);
    }

    .checkbox input:checked + .checkmark::after{
        content:"✓";
        color:#fff;
        position:absolute;
        left:4px;
        top:-1px;
        font-size:14px;
    }
    .products{
        padding:15px;
        display:flex;
        flex-direction:column;
        gap:15px;
    }

    .product-card{
        background:white;
        border-radius:12px;
        display:flex;
        gap:12px;
        padding:10px;
        box-shadow:0 3px 10px rgba(0,0,0,.2);
    }

    .product-card img{
        width:320px;
        height:220px;
        object-fit:contain;
        border-radius:8px;
    }

    .reverse{
        flex-direction:row-reverse;
    }

    .content{
        flex:1;
        display:flex;
        flex-direction:column;
    }

    .content h2{
        font-size:20px;
        margin-bottom:8px;
    }

    .content .description{
        font-size:16px;
        color:#555;
        line-height:18px;
        display: block;
        padding: 30px;
    }

    .bottom{
        margin-top:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .actions{
        display:flex;
        gap:8px;
    }

    .buy{
        background:var(--principal-pink);
        color:white;
        border:none;
        padding:15px 40px;
        border-radius:6px;
        cursor:pointer;
    }

    .fav{
        padding: 15px;
        border:none;
        border-radius:6px;
        background:#ffeaf3;
        cursor:pointer;
    }
}

@media (min-width: 1024px){
    .header {
        display: flex;
        justify-content: space-around;
    }

    #searchForm {
        width: 250px;
        opacity: 1;
    }
    
    .header-icons #search-input {
        display: block;
        width: 200px;
    }

    #btn-search {
        display: none;
    }

    .header-icons #btn-carrinho {
        background-color: inherit;
    }

    .header .btn-menu {
        display: none;
    }

   .container{
        display:flex;
        min-height:100vh;
    }

    .filters{
        position:fixed;
        left:0;
        top:33px;

        width:200px;
        height:100vh;
        display: flex;
        flex-direction: column;
    }

    .filters label {
        padding: 20px 0;
    }

    .products{
        margin-left:220px;
        padding:20px;
    }
}