:root {
    --principal-pink: #FF8AC0;
    --bg-pink-light: #FFD9EA;
    --bg-brown: rgba(113, 57, 37, 0.5);
    --bg-brown-dark: rgba(113, 57, 37, 0.8);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background: var(--bg-pink-light);
}

.header {
    padding: 12px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s;
}

.header.scrolled {
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
}

.logo img{
    width: 40px;
    height: 40px;
}

.header-icons {
    color: var(--principal-pink);
    font-size: 24px;
}

.top-bar {
    background: #8B5E3C;
    color: #000;
    display: flex;
    align-items: center;
    padding: 24px 12px 12px;
    position: relative;
    margin-top: -20px;
}

.top-bar .arrow {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
    position: absolute;
}

.top-bar h2 {
    margin: 0 auto;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
}

/* GALERIA */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card {
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    max-width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}


footer {
    background: #8B5E3C;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}