:root {
    --rosa-principal: #ff8ac0; 
    --rosa-escuro: #ff5fa2;
    --rosa-medio: #cf97ae;
    --rosa-claro: #ffe3ef;
}

* {
    font-family: "Iosevka Charon Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

body{
    margin:0;
    background: var(--rosa-medio);
}

/* HEADER */

header{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0.2rem 0 .2rem;
    background:white;
    border-radius: 0 0 1.25rem 1.25rem;
}

.logo{
    color:var(--rosa-principal);
    font-weight:bold;
    font-size:1.25rem;
    margin-left: -4rem;
}

.logo img {
    width: 8rem;
    height: 4rem;
}

.search{
    padding:.7rem;
    width: 14rem;
    border-radius:.375rem;
    border:0.0625rem solid #ccc;
}

.cart{
    color:#2d6cdf;
    cursor:pointer;
    font-size: 2rem;
}

/* BANNER */

.banner{
    text-align:center;
    margin-top: 4rem;
    position: relative;
}

.banner img {
    display: block;
    width: 100vw;
    height: 30dvh;
}

.banner h1{
    color: var(--rosa-principal);
    font-size:4rem;
    margin:.625rem;
}

.banner p{
    color:#4c78a8;
    font-size: 1.5rem;
}

.banner button{
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    border: 0.125rem solid var(--rosa-escuro);
    background:linear-gradient(var(--rosa-claro),white);
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%)
}

.banner button:hover {
    background: linear-gradient(var(--rosa-escuro), white)
}

/* CATEGORIAS */

.categorias{
    display:flex;
    justify-content:space-between;
    gap: 0.3125rem;
    padding: 1.25rem;
}

.categorias button{
    padding:1rem 3rem;
    font-size: 1.5rem;
    border-radius: 0.625rem;
    border:2px solid var(--rosa-escuro);
    background:linear-gradient(var(--rosa-claro),white);
    cursor:pointer;
}

.categorias button:hover {
    background: linear-gradient(var(--rosa-escuro), white)
}

/* DESTAQUE */

.destaque{
    padding: 2rem 2rem;
}

.destaque h2{
    font-size: 3rem;
    color:#070707;
    margin-bottom:1.25rem;
}

/* CUPCAKES */

.cupcakes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
    padding: 2rem;
    row-gap: 0;
}

.card{
    background:white;
    padding:1.875rem;
    border-radius:0.625rem;
    width:22.5rem;
    height: 80%;
    text-align:center;
    font-size: 2rem;
    margin: 0;
}

.card img{
    width:100%;
    height: 60%;
    border-radius:0.5rem;
}

.card button{
    font-size: 2.5rem;
    padding:0.375rem 1rem;
    border-radius:0.5rem;
    border:2px solid var(--rosa-escuro);
    background:linear-gradient(var(--rosa-claro),white);
    cursor:pointer;
}

.card button:hover {
    background: linear-gradient(var(--rosa-escuro), white)
}

/* MENU INFERIOR */

.menu{
    position:fixed;
    bottom:0;
    width:100%;
    background:white;
    border-top:1px solid #ccc;
    display:flex;
    justify-content:space-around;
    padding:0.625rem;
    font-size:2.5rem;
}