:root {
    --principal-pink: #FF8AC0;
    --bg-pink-light: #FFD9EA;
    --bg-brown: rgba(113, 57, 37, 0.5);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background: var(--bg-pink-light);
}

.header {
    padding: 12px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s;
}

.header .navBar {
    display: none;
}

.header.scrolled {
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
}

.logo {
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    color: var(--principal-pink);
}

.logo span {
    color: var(--bg-brown);
}

.logo h1, span {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

#searchForm {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.3s ease;
}

#searchForm.active {
    width: 250px;
    opacity: 1;
}

.header-icons {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header-icons #btn-search{
    color: var(--principal-pink);
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    background-color: inherit;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.header-icons #btn-carrinho {
    display: none;
}

#btn-search.hidden {
    opacity: 0;
    visibility: hidden;
}

.header-icons #search-input {
    width: 0;
    border: none;
    border-bottom: 1px solid var(--principal-pink);
    outline: none;
    padding: 5px;
}

.header-icons #search-input:focus {
    transition: all .5s linear;
    width: 200px;
}

#btn-menu{
    position: relative;
    z-index: 10000;
    color: var(--principal-pink);
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.menu-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    display: none;
    justify-content: flex-end;
    z-index: 9999;
}

.menu-modal.active {
    display: flex;
}

.menu-content {
    width: 280px;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    animation: slideIn .3s ease;
}

.item-modal {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    display: block;
    transition: .3s;
    padding: 12px;
    border-radius: 8px;
}

.item-modal:hover,
.item-modal.active {
    background-color: var(--principal-pink);
    color: white;
}

.item-modal {
    font-family: "Kaushan Script", cursive;
    padding: 10px;
}


.close-menu {
    align-self: flex-end;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track,
.gallery-track {
    display: flex;
    transition: transform 0.4s ease;
}

.section-maisPedidos .carousel-item {
    opacity: .5;
    transform: scale(.9);
    transition: .3s;
}

.section-maisPedidos .carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

.heroBanner .carousel-item {
    min-width: 100%;
    flex-shrink: 0;
}

#bannerTrack {
    display: flex;
    gap: 0;
    transition: transform .4s ease;
}

.banner {
    width: 100%;
}

.img-mobile {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.img-tablet {
    display: none;
}

.img-desktop {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(153, 152, 152, 0.26);
    color: #4b4a4a;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 6px;
}

.arrow:hover {
    background: rgba(66, 66, 66, 0.555);
}

.arrow.left { 
    left: 5px; 
}

.arrow.right { 
    right: 5px; 
}

.title {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 30px 10px;
}

.section-maisPedidos,
.gallery {
    width: 100%;
}

.section-maisPedidos {
    background-color: var(--bg-brown);
    height: 193px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.section-maisPedidos .carousel-track {
    display: flex;
    align-items: center;
    transition: transform .4s ease;
}

.section-maisPedidos .carousel-item {
    flex-shrink: 0;
}

#pedidoTrack {
    padding-inline: calc(50vw - 160px);
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 170px;
}

.card img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.card-footer {
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-btn {
    border-radius: 5px;
    border: none;
    padding: 12px 24px;
    background-color: var(--principal-pink);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.buy-btn:hover {
    background-color: #f14294;
    transition: .2s;
    transform: scale(1.1);
}

.fav-btn {
    border-radius: 5px;
    border: none;
    padding: 12px;
    background-color: var(--bg-pink-light);
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.fav-btn:hover {
    background-color: #ecbbd2;
}

.fav-btn-clicado {
    display: none;
}

.gallery {
    background-color: var(--bg-brown);
    height: 220px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
}

.gallery-track {
    display: flex;
    gap: 12px;
    transition: transform .4s ease;
    padding-bottom: 10px;
}

.gallery-item {
    flex: 0 0 calc(50% - 6px);
    flex-shrink: 0;
}

.gallery-item img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.gallery img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

footer {
    background: #8B5E3C;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}


/* TABLET */

@media (min-width: 768px) {
   .logo img{
        width: 48px;
        height: 48px;
    }

    .header .navBar {
        display: flex;
        padding: 10px;
    }

    .header .navBar a {
        text-decoration: none;
        color: var(--principal-pink);
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    #carrinho {
        padding: 0;
    }

    #searchForm {
        width: 100px;
    }

    .header-icons {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    .header-icons #btn-carrinho {
        display: flex;
        color: var(--principal-pink);
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    #btn-carrinho a {
        color: var(--principal-pink);
    }

    #btn-menu{
        display: none;
    }

    /* section mais pedidos */

    .img-mobile {
        display: none;
    }

    .img-tablet {
        display: block;
        width: 100%;
    }

    .img-desktop {
        display: none;
    }

    .heroBanner {
        width: 100%;
        overflow: hidden;
    }

    .heroBanner .carousel-track {
        display: flex;
        gap: 0;
        transition: transform .4s ease;
    }

    .heroBanner .carousel-item {
        min-width: 100%;
        flex-shrink: 0;
    }

    .banner {
        width: 100%;
    }

    .arrow.left { 
        left: 20px;
        font-size: 20px; 
    }

    .arrow.right { 
        right: 20px;
        font-size: 20px; 
    }


/* SECTION MAIS PEDIDOS */

    .section-maisPedidos {
        height: 296px;
        padding: 30px;
    }

    .section-maisPedidos .carousel-item{
        display: flex;
        justify-content: center;
    }

    .card{
        width: 216px;
        height: 238px;
        padding: 12px;
        border-radius: 14px;
    }

    .card img{
        width: 100%;
        height: 135px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .title-product{
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .buy-btn{
        flex: 1;
        height: 40px;
        font-size: 1rem;
        border-radius: 8px;
        padding: 0;
    }

    .fav-btn{
        width: 52px;
        height: 40px;
        border-radius: 8px;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECTION GALERIA */

    .gallery {
        height: 164px;
        width: 100%;
    }

    .gallery-item {
        flex: 1;
    }

    .gallery-item img {
        width: 130px;
        height: 130px;
    }

}

/* LAPTOP */

@media (min-width: 1024px){
    .header {
        display: flex;
        justify-content: space-around;
    }

    #searchForm {
        width: 250px;
        opacity: 1;
    }
    
    .header-icons #search-input {
        display: block;
        width: 200px;
    }

    #btn-search {
        display: none;
    }

    .header-icons #btn-carrinho {
        background-color: inherit;
    }

    .header .btn-menu {
        display: none;
    }
    
    /* heroBanner */
    .img-mobile {
        display: none;
    }

    .img-tablet {
        display: none;
    }

    .img-desktop {
        display: block;
        width: 100%;
        height: 60vh;
    }

    .title {
        font-size: 2rem;
    }

}